*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#e8e8e8;

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    font-family:sans-serif;
}

#viewer{

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
}

#book{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:0;
}

.page{

    aspect-ratio:197 / 290;

    height:92vh;

    object-fit:contain;

    display:block;

    cursor:pointer;

    user-select:none;
}

.single{

    height:94vh;
}

button{

    position:fixed;

    top:50%;
    transform:translateY(-50%);

    width:36px;
    height:36px;

    border:none;

    background:none;

    color:#999;

    font-size:28px;

    cursor:pointer;

    z-index:10;
}

#prev{
    left:calc(50% - 580px);
}

#next{
    left:calc(50% + 545px);
}

button:hover{

    color:#666;

}

.page:first-child{
    border-right:1px solid #d8d8d8;
    box-sizing:border-box;
}
